/*

TODO: Classes and ID's for the different website forms.

*/

/*dark mode and light mode settings */
.dark-body {
    background-image: linear-gradient(#000000, #3d3d3d);
}

.light-body {
    background-image: linear-gradient(#ffffff, #b1b1b1);
}


h2,
p {
    display: block;
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-image: url("../Images/header.avif");
    background-size: cover;
    background-position: center;
    
}


header h1 {
    align-items: center;
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: rgb(223, 223, 223);
    -webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
}

header a {
    color: #fff;
    text-decoration: none;
}
.card-form {
        margin-left: 22%;
        margin-top: 5%;
        display: inline-flex;
        align-content: center;
        justify-content: space-around;
        max-width: 75%;
        background-image: url("../Images/header.avif");
        background-size: cover;
        background-position: center;
        padding: 1rem;
        border: 1px solid #046767;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
        

.card-form img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        margin-left: 25%;
        margin-top: 5%;
    }

.form-header {
    color: #fff;
}

form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        text-align: center;
    }

form .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

form .row label {
        display: block;
        text-align: center;
        margin-top: 5px;
        color: #fff;
    }

form input[type="name"],
form input[type="email"],
form input[type="telephone"] {
        border-radius: 25px;
        color: #fff;
        background: linear-gradient(to right, #cf4b02, #ef7f41);
        min-width: 75%;
        text-align: center;
    }

form textarea[id="description"] {
        border-radius: 15px;
        color: #fff;
        background: linear-gradient(to right, #cf4b02, #ef7f41);
        min-width: 100%;
        text-align: center;
    }

::placeholder {
        color: #fff;
        text-align: center;
    }

select {
        color: #fff;
        text-align: center;
        background: linear-gradient(to right, #cf4b02, #ef7f41);
    }


select option[value="general"],
select option[value="order"],
select option[value="technical"],
select option[value="feedback"],
select option[value="other"] {
    color: #fff;
    text-align: center;
    background-color: #cf4b02;
    }

form .row input[type="submit"] {
        background-color: #cf4b02;
        color: #fff;
        padding: 1rem;
        transition: background-color 0.3s ease-in;
        margin-top: 1rem;
        border: 1px solid #cf4b02;
        border-radius: 5px;
    }

form .row input[type="submit"]:hover {
        background-color: #046767;
        display: flex;
        align-content: center;
        justify-content: space-between;
        color: #000000;
        background-color: #ef7f41;
        padding: 1rem;
        border: 1px solid #ef7f41;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 1rem;
        font-weight: bold;
    }

.contact-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: .5%;

}

.contact {
    display: inline-flex;
    margin-right: 3%;
    margin-left: 3%;
    align-items: center;
    background-color: #046767;
    color: #fff;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-image: url("../Images/header.avif");
    background-size: cover;
    background-position: center;
}

footer h2 {
    color: #fff;
    text-align: center;
    padding: 1rem;
}


footer a {
    text-decoration: none;
}
