:root {
    --accent: #cf4b02;
    --background: #FFF6E6;
    --text-color: #FFA500;
    background-color:#FFF6E6 ;
    
}

.darkmode {
    --accent: #00c7b7;
    --background: rgb(60, 60, 60);
    --text-color: #fff;
    background-color: rgb(60, 60, 60);

}
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 5px;
    margin-left: -10%;
}
#theme-switch svg{
    fill:var(--accent)
}
#theme-switch svg:last-child{
    display:none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: left;
    padding: 1rem 2rem;
    background-size: cover;
    background-position: left;
    border-bottom:solid var(--accent);

    
}


header h1 {
    align-items: center;
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: var(--accent);
    -webkit-text-fill-color:var(--accent);
    -webkit-text-stroke: 1px black;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 98vh;

}




/* Dropdown Button */
.dropBtn {
    margin-left: 3rem;
   background-color: var(--background);
    color: black;
    padding: 16px;
    font-size: 18px;
    border-bottom: solid var(--accent);
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropBtn:hover, .dropBtn:focus {
    background-color: var(--accent);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #000000;
    right: -3rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #085f99;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.cartBtn { 
    margin-right: 3rem;
    background-color: var(--background);
    color:var(--text-color);
    padding: 16px;
    font-size: 25px;
    border-bottom:solid var(--accent);
    cursor: pointer;
}

.cartBtn a {
    color:var(--text-color);
    text-decoration: none;
}

.cartBtn:hover, .cartBtn:focus {
    background-color: var(--accent);
}



footer {
    border-top: solid var(--accent);
    background-size: cover;
    text-align: center;
    color: var(--accent);
    padding: 25px;
    font-size:25px;
    

}







h2 {
    text-align: center;
    font-size: 45px;
 
    -webkit-text-fill-color:var(--accent);
    -webkit-text-stroke: 1px black;
    border-bottom: solid var(--accent);
    
}
.h2-box {
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    align-content: center;
    margin-top: -1%;
    margin-left: 2%;
    float: left;
   
    
    
    
}

#button1 {
    padding: 20px;
    background-color:rgb(223, 119, 0);
    font-size:20px;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:25px;
    margin-left:12%;
    width: 75%;
    text-align: center;

    
    
}
#button1:hover, #button1:focus{
    background-color: #007b71;
}



.section-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    list-style:square;
    height: 150px;
    text-align: left;
    font-size: 28px;
    -webkit-text-fill-color:var(--accent);
    -webkit-text-stroke: .25px black;
    z-index: 1;
    margin-left: 20%;

   
    
    
}
.shopcarousel {
    
    width: 100vw;
    height: 75vh;
    position: relative;
}

.shoptcarousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: 100%;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
   position: absolute;
   z-index: 2;
   background: none;
   border: none;
   font-size: 4rem;
   top:50%; 
   transform: translateY(-50%);
   color: rgba(255, 255, 255, .5);
   cursor: pointer;
   border-radius: .25rem;
   padding: 0 .5rem;
   
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    
}



.carousel-button.prev {
    left: 1rem;
}
.carousel-button.next {
    right: 1rem;
}



main {

    flex-grow: 1;
    flex-wrap: wrap;
   
}




@media screen and (max-width: 768px) {
    main {
        min-height: 98vh;
        flex-direction: column;
        flex-wrap: wrap;
    }
  
      ul li {
        width: 100%;
        font-size: 20px;
        margin-top: 75%;
        margin: 0 0;
    
        
    }
    
    h2 {
        width: 100%;
        font-size:23px;
        
    
    }
    .h2-box {
        width: 100%;
        
        font-size: 20px;
        flex-direction: column;
        text-align: center;
        margin-left: 2%;
               
    

    }

    .section-container{
        width: 100%;
        font-size: 25px;
        margin:0 0;
        padding:10px;
        
            width: 100%;
            font-size: 20px;
            margin-top: 75%;
            margin: 0 0;
    
        text-align: left;
    }
    


    
   }


@media screen and (max-width: 390px) {
    header {
        width: 100%;
        margin:0 0;
        
    }
   
    main {
        flex-direction: column;
        flex-wrap: wrap;
        
    }
  
     
    
    h2 {
        width: 100%;
        font-size:30px;
        
    
    }
    .h2-box {
        width: 100%;
        
        
        flex-direction: column;
        text-align: center;
        margin-left: 1%;
       
               
    

    }

    .section-container{
        width: 100%;
        z-index: 2;
        text-align: center;
    }
    
    #button1 {
        width:100%;
    }

  
       

    

    
}


