/*

TODO: Root light and dark variants

TODO: Classes and ID's for dark and light modes

TODO: Base Color Scheme

TODO: FlexBox-ing for carousels

TODO: General Sizing and Spacing formatting for text, product cards, etc.

*/

/* 

element, and class styles for webpage headers 

*/

/*dark mode and light mode settings */
.dark-body {
  background-color:  #fff6e6;
}

.light-body {
  background-image: linear-gradient(#ffffff, #b1b1b1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

main {
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff6e6;
  border-bottom: solid #cf4b02;
  
}


header h1 {
  align-items: center;
  margin: auto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #cf4b02;
}

header a {
  color: #cf4b02;
  text-decoration: none;
}

h2,
p {
    display: block;
    text-align: center;
}

/* Dropdown Button */
.dropBtn {
    margin-left: 1rem;
    background-color: #046767;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #fff6e6;
    border-bottom: solid #cf4b02;
  }
  
  /* Dropdown button on hover & focus */
  .dropBtn:hover, .dropBtn:focus {
    background-color: #06b8b8;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #046767;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #000000;
    right: -3rem;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #06b8b8;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .cartBtn { 
    margin-right: 1rem;
    color: #cf4b02;
    padding: 16px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: #fff6e6;
    border-bottom: solid #cf4b02;
  }

  .cartBtn a {
    color: #cf4b02;
    text-decoration: none;;
  }

  .cartBtn:hover, .cartBtn:focus {
    background-color: #06b8b8;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff6e6;
    margin-bottom: 0;
    border-top: solid #cf4b02;
}

footer h2 {
    color: #000000;
    text-align: center;
    padding: 1rem; 
}


footer a {
    text-decoration: none;
}

footer button {
  border-bottom: solid #cf4b02;
  background-color: #fff6e6;
  border-left: none;
  border-right: none;
  border-top: none;
}

footer button:hover, footer button:focus {
  background-color: #cf4b02;
}

@media screen and (max-width: 390px) {
  body {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: fit-content;
      max-width: 380px;
  }
  main {
      flex-shrink: 4;
  }
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-image: url("../Images/header.avif");
      background-size: cover;
      background-position: center;
      min-width: 80%;
  }
  header h1 {
      font-size: 2rem;
  }
  .cartBtn {
    margin-right: -2rem;
  }
  .dropBtn {
    margin-left: 0rem;
  }
}
