/*

TODO: Root light and dark variants

TODO: Classes and ID's for dark and light modes

TODO: Base Color Scheme

TODO: FlexBox-ing for carousels

TODO: General Sizing and Spacing formatting for text, product cards, etc.

*/